.home { 
    display: flex;
    flex-direction: row-reverse;
  }
  li {
    list-style: none;
  }
  .ta{
    display: flex;
    text-align: center;
    align-items: center;
    position: absolute;
    padding: 0;
    margin: 5px;
    font-size: 12px;
    top: 20px;
    right: 0;
  }
  .time{
    display: flex;
    justify-content: end;
    position: absolute;
    right: 0;
    top: 0;
    margin: 2px;
    padding: 2px;
    font-size: 12px;
  }
  .btn{
    margin: 5px;
    padding: 2px;
    list-style: none;
    cursor: pointer;
    font-size: 10px;
  }