.card-dark {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #fff;
  text-align: center;
  align-items: center;
  justify-items: center;
  color: #fff;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.card-light {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #000;
  text-align: center;
  align-items: center;
  justify-items: center;
  color: #000;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.card-main-heading {
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0;
}
.card-main-msg {
  text-align: center;
  font-size: 11px;
  padding: 0;
  margin: 0;
}
.card-info {
  text-align: center;
  justify-content: center;
  align-content: center;
  padding: 0;
  margin: 0;
}
.card-info-msg {
  text-align: center;
  font-size: 10px;
  padding: 0;
  margin: 0;
}
.txtimg {
  width: 180px;
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}