.light a{
  color: #000000;
}
.dark a{
  color: #fff;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.navbar a {
  font-size: 14px;
}
.navbar li {
  margin: 0px;
  padding: 0px;
  transition: 0.3s;
}
.navbar li:hover {
  background-color: transparent;
  filter: drop-shadow(0 0px 3px #1fe00aa4);
  transition: 0.3s;
  animation-delay: 0s;
  animation-name: navbar2;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: initial;
  box-shadow: 0 2px 4px rgb(247, 103, 0);
}
.navbar li:hover a {
  color: #00df61;
  transition: 0.3s;
}

.logo-png img {
  width: 80px;
  height: 100%;
  animation: logo-png 4s ease-in-out infinite alternate;
  transition: 0.3s;
}

.logo-png img:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 5px #22c91c89);
  animation: footer1 0.8s linear infinite alternate;
}

.menu {
  animation: fadeIn 0.2s;
  justify-content: center;
  display: flex;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
  transition: 0.2s;
  padding: 0;
  margin: 5px;
}

li.active {
  transition: 0.2s;
  box-shadow: 0 0px 5px rgb(6, 220, 2);
}
.active a {
  transition: 0.2s;
}
li.active:hover {
  filter: drop-shadow(0 1px 2px #5de41472);
  transition: 0.2s;
  box-shadow: 0 2px 5px rgb(220, 20, 2);
}
li.active:hover a {
  color: #00bfdc;
  transition: 0.2s;
}
.menu li {
  padding:  5px;
  margin: 3px;
  border-radius: 10px;
  transition: 0.3s;
}
.navbar input[type="checkbox"] {
  display: none;
  z-index: 19;
  transition: 0.3s;
}

.hamburger {
  display: none;
  cursor: pointer;
  z-index: 20;
  transition: 0.3s;
}
.hamburger:hover {
  transform: scale(1.1);
  color: #d77f2d;
  transition: 0.3s;
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
}
.hamburger:focus,
.hamburger:focus-visible {
  outline: 2px solid rgb(92, 172, 11);
}
.line {
  fill: none;
  stroke: rgb(226, 13, 13);
  stroke-width: 6;
  transition: stroke-dasharray 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

@media only screen and (max-width: 630px) {
  .navbar {
    justify-content: space-between;
    align-items: flex-start;
    transition: 0.2s;
  }

  .menu {
    animation: fadeIn 0.2s;
    display: none;
    z-index: 29;
    transition: 0.3s;
  }

  .navbar input[type="checkbox"]:checked ~ .menu {
    animation: fadeIn 0.2s;
    display: inline-block;
    position: absolute;
    z-index: 30;
    margin-left: 50px;
  }

  .navbar li {
    width: 100%;
  }
  .navbar li:hover {
    background-color: #333331;
  }
  .navbar li:hover a {
    color: #00e0c2;
  }
  .hamburger {
    animation: fadeIn 0.3s;
    position: absolute;
    list-style: none;
    display: inline-block;
    margin: 0px 10px;
    z-index: 21;
    transition: stroke-dasharray 0.2s cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@keyframes logo-png {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(5px);
  }
}
@keyframes navbar {
  0% {
    opacity: 1;
    /* transform: translate(0px, 0px); */
    outline-color: #00e82b;
    background-color: #06060610;
  }
  40% {
    opacity: 0.7;
    /* transform: translate(0px, -10px); */
    outline-color: #e83200;
    background-color: #000000;
  }
  60% {
    opacity: 0.1;
    /* transform: translate(0px, 10px); */
  }
  100% {
    opacity: 1;
    /* transform: translate(0px, 0px); */
    outline-color: #00e82b;
    background-color: #06060610;
  }
}
@keyframes navbar2 {
  0% {
    /* transform: translate(0px, 0px); */
    opacity: 1;
    scale: 1;
    outline: 0.5px rgb(0, 116, 248);
  }
  30% {
    transform: translate(0px, -2px);
    scale: 1.06;
    outline: 2px rgb(248, 0, 207);
  }
  60% {
    /* transform: translate(0px, 2px); */
    opacity: 0.1;
    scale: 0.7;
  }

  100% {
    /* transform: translate(0px, 0px); */
    opacity: 1;
    scale: 1;
  }
}
