.rows {
    display: flex;
    flex-direction: column;
  }
  .sheet {
    display: flex;
    flex-direction: column;
  }
  .sheet > button {
    cursor: pointer;
    padding: 5px;
    margin: 10px;
    width: 100px;
    align-self: center;
  }
  .sheet > button:hover {
    color: #f8f6f6;
    background-color: transparent;
    box-shadow: 0px 2px 2px 2px red;
    font-weight: bold;
  }