:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  place-items: center;
  min-height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
}

nav{
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 5px;
}
nav a {
  text-decoration: none;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #807e7f38;
  width: 100%;
}
.active {
  color: #0b9a04;
  outline: 1px solid #0ddc3a74;
  font-weight: 700;
}
a {
  color: #000000;
  list-style: none;
  text-align: center;
}
nav:hover a:hover {
  color: #c51902;
  outline: 3px solid #ff5c04;
}
button {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #807e7f38;
  color: #000000;
  font-weight: 700;
  outline: 2px solid #0d2fdc74;
  background-color: transparent;
  cursor: pointer;
}
button:hover {
  color: #008004;
  outline: 3px solid #05c51f;
}
