*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.light,
.dark {
  padding: 0;
  margin: 0;
  text-align: center;
  position: relative;
}
.light {
  color: #000;
  background: #fff;
  margin: 0;
  padding: 0;
}
.dark {
  color: #fff;
  background: #000;
  margin: 0;
  padding: 0;
}
.light a{
  color: #000000;
}
.dark a{
  color: #fff;
}
.light button{
  color: #fff;
  background-color: #000;
}
.dark button{
  color: #000;
  background-color: #fff;
}
.button-light,
.button-dark {
  display: inline-block;
  position: absolute;
  padding: 5px;
  margin: 10px;
  right: 0px;
  bottom: 0px;
  cursor: pointer;
  border-radius: 100%;
  z-index: 5;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-size: cover;
  border: none;
  transition: all 0.2s;
}
.button-dark {
  background-image: url("/light.png");
}
.button-light {
  background-image: url("/dark.png");
}
.button-light:hover,
.button-dark:hover {
  scale: 1.3;
}
.spinner {
  margin: 20vw auto;
  padding: 0;
  justify-items: center;
  transition: opacity linear 0.1s;
  width: 5rem;
  height: 5rem;
  border: 7px solid rgba(109, 120, 111, 0.369);
  border-radius: 50%;
  border-top-color: #be1300;
  animation: spin 1s ease-in-out infinite;
  opacity: 0.2;
}
.spinner--active {
  opacity: 1;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}